@using EntityLayer.Concrete
@model List<Food>
@{
    ViewData["Title"] = "Home Page";
}
<div>
    @if (TempData["SuccessfulAdd"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                swal("Registration Successful", '@TempData["SuccessfulAdd"]', "success");
            };
        </script>
    }
</div>

<section class="food_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Our Menu
            </h2>
        </div>

        <ul class="filters_menu">
            @{
                var categoryList = Model.Select(c => c.Category.Name).Distinct().ToList();
            }
            <li class="active" data-filter="*">All</li>
            @foreach (var item in categoryList)
            {
                <li data-filter=".@item">@item</li>
            }



        </ul>

        <div class="filters-content">
            <div class="row grid">
                @foreach (var item in Model)
                {
                    if (item.IsInStock)
                    {
                        <div class="col-sm-6 col-lg-4 all @item.Category.Name">
                            <div class="box">
                                <div>
                                    <div class="img-box">
                                        <img src="@item.ImgPath" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <h5>
                                            @item.Name

                                        </h5>
                                        <p>
                                            @item.Detail
                                        </p>
                                        <div class="options">
                                            <h6>
                                                $@item.Price
                                            </h6>
                                            <form asp-action="Index" asp-controller="Home" method="get">
                                                <button value=@item.Id name="foodInCart" class="btn btn-outline-light">Add to Cart</button>
                                            </form>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                }


            </div>
        </div>

    </div>
</section>
